.d-flex {
    background: #ffffff;
    transition: transform 300ms ease-out, box-shadow 300ms ease-out;
  }
  
  .d-flex:hover {
    transform: translate(15px, 0px) scale(1.1, 1.1);
    box-shadow: 15px 42px 34px 0px rgba(0, 0, 0, 0.3);
  }